In [4]:
import pandas as pd

In [16]:
#squeeze=True:results in a Series, instead of a DataFrame
populations_2010 = pd.read_csv('US_Census_SUB-IP-EST2019-ANNRNK_top_20_2010.csv',index_col = [0],squeeze=True)

populations_2010

City
New York                8190209
Los Angeles             3795512
Chicago                 2697477
Houston                 2100280
Phoenix                 1449038
Philadelphia            1528283
San Antonio             1332299
San Diego               1305906
Dallas                  1200350
San Jose                 954940
Austin                   806164
Jacksonville             823114
Fort Worth               748441
Columbus                 790943
Charlotte                738444
San Francisco            805505
Indianapolis             821579
Seattle                  610630
Denver                   603359
District of Columbia     605226
Name: 2010, dtype: int64

In [7]:
#total population of the three largest cities in the 2010 Series\
##(New York,Los Angeles, and Chicago)
#save the result in a variable

In [13]:
top_3_2010 = sum(populations_2010[['New York', 'Los Angeles', 'Chicago']])

In [14]:
top_3_2010

14683198

In [11]:
#2019 from the US_Census_SUB-IP-EST2019-ANNRNK_top_20_2019.csv file
##first column as the index and reading the data into a Series

In [18]:
populations_2019 = pd.read_csv('US_Census_SUB-IP-EST2019-ANNRNK_top_20_2019.csv',index_col = [0],squeeze = True)
populations_2019

City
New York                8336817
Los Angeles             3979576
Chicago                 2693976
Houston                 2320268
Phoenix                 1680992
Philadelphia            1584064
San Antonio             1547253
San Diego               1423851
Dallas                  1343573
San Jose                1021795
Austin                   978908
Jacksonville             911507
Fort Worth               909585
Columbus                 898553
Charlotte                885708
San Francisco            881549
Indianapolis             876384
Seattle                  753675
Denver                   727211
District of Columbia     705749
Name: 2019, dtype: int64

In [20]:
#Calculate the total population for the same three cities in the 2019 Series
#save the result in a variable
top_3_2019 = sum(populations_2019[['New York', 'Los Angeles', 'Chicago']])

In [21]:
#calculate the percent change from 2010to 2019 for the three cities
top_3_change = 100 * (top_3_2019 - top_3_2010) / top_3_2010

#calculate the percent change for all cities. 
all_change = 100 * sum(populations_2019 - populations_2010) / sum(populations_2010)

#Print out a comparison of the changes for the three cities versus all cities
print('top 3 changed', str(round(top_3_change, 1)),'%\n',
     'vs. all changed', str(round(all_change, 1)), '%')

top 3 changed 2.2 %
 vs. all changed 8.0 %