In [1]:
###first convert the date column into a timestamp and then set \
#this column as the index. Finally, save\
#the updated dataset to a new file

In [6]:
import pandas as pd

In [8]:
fname = "US_GDP.csv"
GDP_data = pd.read_csv(fname)

In [13]:
GDP_data.head()

         date      GDP
0  2017-03-31  19190.4
1  2017-06-30  19356.6
2  2017-09-30  19611.7
3  2017-12-31  19918.9
4  2018-03-31  20163.2

In [15]:
GDP_data.dtypes

date     object
GDP     float64
dtype: object

In [16]:
GDP_data.set_index('date', inplace = True)
GDP_data.head()

                GDP
date
2017-03-31  19190.4
2017-06-30  19356.6
2017-09-30  19611.7
2017-12-31  19918.9
2018-03-31  20163.2

In [17]:
### save the file to new csv

In [18]:
GDP_data.to_csv('US_GDP_date_index.csv')