In [5]:
## list comprehension

In [6]:
# Define an empty list
letters = []

for letter in 'Pandas':
    letters.append(letter)
    
print(letters)

['P', 'a', 'n', 'd', 'a', 's']

In [7]:
letters = [ letter for letter in 'Pandas']
print(letters)

['P', 'a', 'n', 'd', 'a', 's']

In [10]:
# Create a Data Frame
lst = [['C', 45], ['A', 60],
      ['A', 26], ['C', 57], ['C', 81]]

df = pd.DataFrame(lst, columns =['Product', 'Sales'])
df

  Product  Sales
0       C     45
1       A     60
2       A     26
3       C     57
4       C     81

In [11]:
df.loc[:2,'Sales']

0    45
1    60
2    26
Name: Sales, dtype: int64

In [12]:
df.iloc[3]

Product     C
Sales      57
Name: 3, dtype: object

In [13]:
#boolean indexing
df['Sales'].eq(45)

0     True
1    False
2    False
3    False
4    False
Name: Sales, dtype: bool

In [14]:
#find row and value of the boolean
df[df['Sales'].eq(45)]

  Product  Sales
0       C     45